In [1]:
import pandas as pd
import hopsworks
import joblib
import os
os.environ['CONDA_DLL_SEARCH_MODIFICATION_ENABLE'] = '1' #setting the env variable

project = hopsworks.login()
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/20697

DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

Connected. Call `.close()` to terminate connection gracefully.

In [2]:
mr = project.get_model_registry()
model = mr.get_model("agriculture_1", version=1)
model_dir = model.download()
model = joblib.load(model_dir + "/agriculture_model.pkl")

Connected. Call `.close()` to terminate connection gracefully.
Downloading file ...

In [3]:
feature_view = fs.get_feature_view(name="agriculture", version=1)

In [4]:
import datetime
batch_data = feature_view.get_batch_data()

batch_data

VersionWarning: No training dataset version was provided to initialise batch scoring . Defaulting to version 1.

2023-06-21 14:33:37,852 INFO: USE `salsa_coe_featurestore`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

2023-06-21 14:33:38,593 INFO: SELECT `fg0`.`n` `n`, `fg0`.`p` `p`, `fg0`.`k` `k`, `fg0`.`temperature` `temperature`, `fg0`.`humidity` `humidity`, `fg0`.`ph` `ph`, `fg0`.`rainfall` `rainfall`
FROM `salsa_coe_featurestore`.`agriculture_1` `fg0`

        n   p   k  temperature   humidity        ph    rainfall
0      26  51  25    28.764890  52.627415  7.792508   55.216067
1       4  59  25    27.685151  81.942686  6.227134   54.622433
2      59  62  83    18.576659  19.220082  8.104396   72.949404
3      76  44  17    20.416831  62.554248  5.855442   65.277985
4      47  63  16    27.440033  67.104644  6.661871   72.506698
...   ...  ..  ..          ...        ...       ...         ...
1195   60  49  44    20.775761  84.497744  6.244841  240.081065
1196   80  18  51    28.053807  91.817588  6.706053   20.765821
1197   59  69  80    19.079377  17.867549  8.165359   69.406191
1198   36  65  16    25.712698  64.112333  7.692014   50.170678
1199  111   6  53    26.493064  88.591431  6.313513   46.063822

[1200 rows x 7 columns]

In [5]:
predictions = model.predict(batch_data)

In [6]:
predictions

array(['mothbeans', 'mungbean', 'chickpea', ..., 'chickpea', 'lentil',
       'watermelon'], dtype=object)